<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Group type:</strong>
  <%= @artist.group_type %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @artist.image_url %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.country %>
</p>

<p>
  <strong>Date started:</strong>
  <%= @artist.date_started %>
</p>

<p>
  <strong>Date ended:</strong>
  <%= @artist.date_ended %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
