<!-- taken from tutorial:
https://www.codementor.io/ruby-on-rails/tutorial/
threaded-comments-polymorphic-associations
-->

<li>
  <p>
    <% user = User.find_by_id(comment.user_id) %>
    <%= link_to(user.name, user) %>
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago </small>
  </p>
  <p>
  <%= comment.body %>
  </p>
  <!-- <div id="replyComment"><a href="#">Reply to comment</a></div> -->
  <p>
  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
    <div id="comment_comment_form">
      <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a comment" %>
      <%= f.submit "Comment" %>
      <% end %>
    </div>
  </ul>
  </p>
</li>

<!--
<script>
$(function(){
    $("#replyComment:last").on('click', function (){
      $("#comment_comment_form").show();
    });
})
</script>
-->
