<h1>
<%= @user.name %>, <%= @user.email %>
</h1>
<p>
<%= link_to "Edit Profile", edit_user_path(@user) %>
</p>

<%= render 'favorite_artists' %>

<%= render 'favorite_albums' %>

<%= render 'favorite_songs' %>
