<p id="notice"><%= notice %></p>

<h1>Release Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Record label</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @release_groups.each do |release_group| %>
      <tr>
        <td><%= release_group.name %></td>
        <td><%= release_group.record_label %></td>
        <td><%= release_group.image_url %></td>
        <td><%= link_to 'Show', release_group %></td>
        <td><%= link_to 'Edit', edit_release_group_path(release_group) %></td>
        <td><%= link_to 'Destroy', release_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release Group', new_release_group_path %>
