<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @release_group.name %>
</p>

<p>
  <strong>Record label:</strong>
  <%= @release_group.record_label %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @release_group.image_url %>
</p>

<%= link_to 'Edit', edit_release_group_path(@release_group) %> |
<%= link_to 'Back', release_groups_path %>
