<% if @band_members != [] %>
  <h3>Current Members </h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Years</th>
    </tr>

    <% @band_members[:current].each do |member| %>
      <tr>
        <% if member["artist"]["id"] %>
          <td> <%= link_to member["artist"]["name"], artist_path(member["artist"]["id"]) %> </td>
        <% else %>
          <td> <%= member["artist"]["name"] %> </td>
        <%end%>
        <td> <%= member["attributes"].join(", ") %> </td>
        <td> <%= member["begin"].to_s + "-" + Date.today.year.to_s %> </td>
      </tr>
    <%end%>

  </table>
<%end %>

<% if @band_members[:former] != [] %>
  <h3>Former Members</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Years</th>
    </tr>

    <% @band_members[:former].each do |member| %>
      <tr>
        <% if member["artist"]["id"] %>
          <td> <%= link_to member["artist"]["name"], artist_path(member["artist"]["id"]) %> </td>
        <% else %>
          <td> <%= member["artist"]["name"] %> </td>
        <%end%>
        <td> <%= member["attributes"].join(", ") %> </td>
        <td> <%= member["begin"].to_s + "-" + member["end"] %> </td>
      </tr>
    <%end%>

  </table>
<%end%>
