<% provide(:title, @artist.name) %>
<h1><%= @artist.name %></h1>
<% (byebug) %>
<%= javascript_include_tag "galleria.classic.min.js" %>
<%= javascript_include_tag "artist" %>

<%= render 'artist_snapshot' %>

<% if @artist.type == "Group" %>
  <%= render 'artist_members' %>
<%end%>

<%= render 'artist_releases' %>
<%= render 'artist_posts' %>
