<% provide(:title, @artist.name) %>
<h1><%= @artist.name %></h1>
<%= javascript_include_tag "galleria.classic.min.js" %>
<%= javascript_include_tag "artist" %>
<%= button_to 'Save', {:controller => "users", :action => "add_favorite", :m_category => "artist", :user_id => session[:user_id], :link => request.env['PATH_INFO'], :name => @artist.name }, :method=>:post %>

<section class="color1">
  <%= render 'artist_snapshot' %>
</section>

<% if @artist.type == "Group" %>
  <section class="color2">
    <%= render 'artist_members' %>
  </section>
<%end%>

<% if @artist.type == "Person" %>
  <section class="color2">
    <%= render 'artist_associated_acts' %>
  </section>
<%end%>

<%if @artist.release_groups.count > 0%>
  <section class="color1">
    <%= render 'artist_releases' %>
  </section>
<%end%>


<section>
  <%= render 'artist_posts' %>
</section>
