<% provide(:title, @name) %>
<h1>Artist Name: <%= @name %></h1>
<img style="height: 300px; width: 300px;" src="<%=@imgurl %>"></img>
<h3>Artist Releases</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Type</th>
  </tr>

  <% @release_groups.each do |release_group|%>
  <% #if release_group["first-release-date"] && Date.parse(release_group["first-release-date"]) < Date.today %>
      <tr>
        <td><%= link_to release_group["title"], release_group_path(release_group["id"]) %></td>
        <td><%= release_group["first-release-date"] %></td>
        <td> <%= release_group["secondary-types"].empty? ?
        release_group["primary-type"] :
        release_group["secondary-types"].first %> </td>
      </tr>
    <% #end%>
  <%end %>
</table
