<% provide(:title, @release_group.name) %>
<h1> <%= @release_group.name %>
  <%
  date = nil
  dmy = @release_group.release_date.split("-")
  date = dmy[0] unless dmy[0] == nil
  %>
  (<%= date %>)</h1>
<h3>By <%= link_to @release_group.artist["name"], artist_path(@release_group.artist["id"]) %></h3>
<img style="height: 300px; width: 300px;" src="<%=@release_group.image %>"></img>

<%= render 'release_group_tracklist' %>
