<!-- design taken from tutorial: https://www.codementor.io/ruby-on-rails/tutorial/threaded-comments-polymorphic-associations -->

<section class='color3'>
<div id='post'>
<h3><%= link_to(@post.title, post_path(mbid: @post.mbid), target: "_blank") %><br/></h3>
<p>
  <small>
    <% user = User.find_by_id(@post.user_id) %>
    <%= link_to(user.name, user) %>
    <!-- count post comments (include embedded comments) -->
    Submitted <%= time_ago_in_words(@post.created_at) %> ago
  </small>
  <% if current_user == User.find_by_id(@post.user_id) %>
    <%= link_to "edit", edit_post_path(mbid: @post.mbid) %>
    <%= link_to "delete", method: :delete, data: { Confirm: "Are you sure?"} %>
  <% end %>
<p>
<p>
  <%= @post.body %>
  <!--<div id="replyPost"><a href="#">Reply to post</a></div> -->
</p>
  <div id="post_comment_form">
    <%= form_for [@post, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Comment" %><br/>
      <%= f.submit "Comment" %>
  <% end %>
  </div>
</div>
</section>


<section class='color2'>
<h3>Comments</h3>

<ul>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
</section>

<!--
<script>
$(function() {
    $("#replyPost").click(function() {
      $("#post_comment_form").show();
    });
});
</script>
-->
