<!-- design taken from tutorial: https://www.codementor.io/ruby-on-rails/tutorial/threaded-comments-polymorphic-associations -->
<%= link_to(@post.title, @post.url, target: "_blank") %><br/>

<p>
  <%= @post.body %>
  <%= User.find_by_id(@post.user_id).name %>
  <small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>
<!--  <div id="replyPost"><a href="#">Reply to post</a></div> -->
</p>


<p>
  <% if current_user == User.find_by_id(@post.user_id) %>
    <%= link_to "edit", edit_post_path %>
    <%= link_to "delete", method: :delete, data: { Confirm: "Are you sure?"} %>
  <% end %>
<p>

<h4>Comments</h4>

<ul>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
  <div id="post_comment_form">
    <%  %>
    <%= form_for [@post, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply" %>
  <% end %>
</div>
</ul>

<!--
<script>
$(function() {
    $("#replyPost").click(function() {
      $("#post_comment_form").show();
    });
});
</script>
-->
