<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @post.comment %>
</p>

<p>
  <strong>User_ID:</strong>
  <%= @post.user_id %>
</p>
<%= link_to 'Reply', reply_post_path(@post) %> |
<%= link_to 'Back', post_path %>
